.auctionHouse{
    .auctionHouseAddress{
        padding-top: 25px;
    }
    .showDescBtn{
        cursor: pointer;
        color: #4183c4;
    }
    .auctionHouseDescprtion{
        // display: flex;
        // display: inline-block;
    }
    .auctionHouseImg{
        margin-top: 10px;
    }
}