@import "../../mixins.scss";
.detailsPage {
    .dividerLine{
        margin: 15px 0 10px;
        &::before {
            content: "";
            display: block;
            top: 10px;
            width: 100%;
            border-top: 1px solid rgba(0,0,0,0.15);
        }
    }
    .breadcrumDiv{
        overflow: hidden;
        white-space: nowrap;
        display: flex;
        line-height: 1.1;
        .back {
            padding-right: 10px;
            cursor: pointer;
            color: #4183c4;
        }
        .ui.breadcrumb{
            padding-left: 10px;
        }
        .active, .dot:hover {
            background-color: white;
        }
    }
    .lotNameDiv{
        display: flex;
        font-size: 1.2rem;
        @include md{
            font-size: 1.8rem;
        }
        overflow: hidden;
        text-transform: uppercase;
        font-weight: bold;
        .lot{
            font-weight: lighter;
            font-size: 1.5rem;
            text-align: center;
        }
        .lotBar{
            border-left: 2px solid black;
            margin-left: 15px;
            margin-right: 15px;
        }
    }
    .midSection{
        display: block;
        @include lg{
            display: flex;
        }
        .itemDetails{
            padding: 65px 80px;
        }
        .name{
            font-weight: lighter;
        }
        .value{
            padding-left: 10px;
            font-weight: bold;
        }
        .auctionDate{
            display: flex;
            margin-bottom: 20px;
        }
        .hammerPrice{
            @include md{
                display: flex;
            }
            margin-bottom: 20px;
        }
        .auctionName{
            @include md{
                display: flex;
            }
            margin-bottom: 40px;
        }
        .auctionHouseName{
            margin-top: 35px;
        }
        .auctionHouseName, .auctionHouseAddress, .auctionHouseEmail, .auctionHousePhone, .itemDescription{
            @include md{
                display: flex;
            }
            margin-bottom: 20px;
            .value{
                font-weight: 500;
                line-height: 1.2em;
            }
        }
    }
    .bottomSection{
        .itemDetails{
            padding: 65px 80px;
        }
        .name{
            font-weight: lighter;
        }
        .value{
            padding-left: 10px;
            font-weight: bold;
        }
        .auctionHouseName, .auctionHouseAddress, .auctionHouseEmail, .auctionHousePhone, .itemDescription{
            display: flex;
            margin-bottom: 20px;
            .value{
                font-weight: 500;
                line-height: 1.2em;
            }
        }
    }
}
